In [6]:
import pandas as pd
import datetime as dt

In [5]:
df = pd.read_csv("C:\Users\ikrfu\pocket-money-manager\logic\db.csv")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (Temp/ipykernel_28256/4273986770.py, line 1)

In [9]:
df = pd.DataFrame(
    [[dt.datetime.today(),100,1200],]
)

In [10]:
df

                           0    1     2
0 2022-03-04 23:22:52.080179  100  1200

In [ ]:
DF_PATH = ""
def Money_Move(price,pay=True):
    df = pd.read_csv(DF_PATH)
    last_rest = df[-1]["Balance"]